<div class="create-container container">
  <div *ngIf="!isEditing">
    <div class="row">
      <div class="col-12">
        <h5>Choose type</h5>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4" *ngIf="sessionService.isProductOwnerSignedIn()" style="text-align: center">
        <input name="typeGroup" [(ngModel)]="typeRadio" value="userStory" type="radio"
               id="userStory" (click)="radioButtonClicked('userStory')" />
        <label for="userStory">User Story</label>
      </div>
      <div class="col-12 col-md-4 col-lg-4" style="text-align: center">
        <input name="typeGroup" [(ngModel)]="typeRadio" value="task" type="radio"
               id="task" (click)="radioButtonClicked('task')" />
        <label for="task">Task</label>
      </div>
      <div class="col-12 col-md-4 col-lg-4" style="text-align: center">
        <input name="typeGroup" [(ngModel)]="typeRadio" value="bug" type="radio"
               id="bug" (click)="radioButtonClicked('bug')" />
        <label for="bug">Bug</label>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="col-12 form-group"  (ngSubmit)="saveBacklogItem()" #backlogItemForm="ngForm">
      <h5>Details</h5>
      <hr/>
      <div class="row">
        <div class="input-field col-12 col-md-6">
          <label for="title">Title</label>
          <input name="title" required
                 id="title" type="text" class="validate form-control"
                 [(ngModel)]="backlogItem.title" #title="ngModel">
        </div>
        <div class="input-field col-12 col-md-6">
          <label for="keywords">Keywords</label>
          <rl-tag-input id="keywords" name="keywords" [(ngModel)]="backlogItem.keywords" placeholder=""></rl-tag-input>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-12">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description"
                    [(ngModel)]="backlogItem.description" #description="ngModel"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-12 col-md-6">
          <label for="assigneeSearch">Search assignees</label>
          <input name="assigneeSearch"
                 id="assigneeSearch" type="text" class="validate form-control"
                 [(ngModel)]="assigneeSearch" (ngModelChange)="assigneeTyped($event)">
          <ul style="max-height: 400px; overflow-y: auto">
            <li style="border-bottom: 1px solid #eee"
                *ngFor="let user of searchedUsers" (click)="assigneeClicked(user)">
              <i class="material-icons" style="vertical-align: bottom">add</i> {{user.firstName}} {{user.lastName}}
            </li>
          </ul>
        </div>
        <div class="input-field col-12 col-md-6">
          <span>Selected assignees</span>
          <ul style="max-height: 400px; overflow-y: auto"
              id="selectedAssignees"
              name="selectedAssignees">
            <li style="border-bottom: 1px solid #eee"
                *ngFor="let user of selectedAssignees" (click)="assigneeRemoved(user)">
              <i class="material-icons" style="vertical-align: bottom">remove</i> {{user.firstName}} {{user.lastName}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-12 col-md-6">
          <label for="complexity">Complexity</label>
          <select id="complexity" class="form-control"
                  name="complexity" [(ngModel)]="backlogItem.complexity">
            <option *ngFor="let option of complexity.keys()" [ngValue]="complexity[option]">{{complexity[option]}}</option>
          </select>
        </div>
        <div class="input-field col-12 col-md-6">
          <label for="status">Status</label>
          <select id="status" class="form-control"
                  name="status" [(ngModel)]="backlogItem.status">
            <option *ngFor="let option of backlogStatus.keys()" [ngValue]="backlogStatus[option]">{{option | capitalize | removeUnderscore}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-12 col-md-6">
          <span>Select depending Tasks</span>
          <br/>
          <div *ngIf="backlogItems.get('task') && backlogItems.get('task').length > 0">
            <ul style="max-height: 400px; overflow-y: auto"
                id="tasks"
                name="tasks">
              <li style="border-bottom: 1px solid #eee"
                  *ngFor="let backlogItem of backlogItems.get('task')"
                  (click)="addDependingItem(backlogItem)">
                <i class="material-icons" style="vertical-align: bottom">add</i> {{backlogItem.title}}
              </li>
            </ul>
          </div>
        </div>
        <div class="input-field col-12 col-md-6">
          <span>Selected depending Tasks</span>
          <ul style="max-height: 400px; overflow-y: auto"
              id="selectedDependingItems"
              name="selectedDependingItems">
            <li style="border-bottom: 1px solid #eee"
                *ngFor="let backlogItem of selectedDependingItems" (click)="dependingItemRemoved(backlogItem)">
              <i class="material-icons" style="vertical-align: bottom">remove</i> {{backlogItem.title}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row" *ngIf="typeRadio == 'userStory'">
        <div class="input-field col-12 col-md-6">
          <span>Select Sub Tasks</span>
          <br/>
          <div *ngIf="backlogItems.get('task') && backlogItems.get('task').length > 0">
            <ul style="max-height: 400px; overflow-y: auto"
                id="subTasks"
                name="subTasks">
              <li style="border-bottom: 1px solid #eee"
                  *ngFor="let backlogItem of backlogItems.get('task')"
                  (click)="addSubTaskItem(backlogItem)">
                <i class="material-icons" style="vertical-align: bottom">add</i> {{backlogItem.title}}
              </li>
            </ul>
          </div>
        </div>
        <div class="input-field col-12 col-md-6">
          <span>Selected Sub Tasks</span>
          <ul style="max-height: 400px; overflow-y: auto"
              id="selectedSubTasks"
              name="selectedSubTasks">
            <li style="border-bottom: 1px solid #eee"
                *ngFor="let backlogItem of selectedSubTaskItems" (click)="subTaskItemRemoved(backlogItem)">
              <i class="material-icons" style="vertical-align: bottom">remove</i> {{backlogItem.title}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row" *ngIf="typeRadio == 'userStory'">
        <div class="input-field col-12 col-md-6">
          <label for="definitionOfDone">Definition Of Done</label>
          <textarea class="form-control" id="definitionOfDone" name="definitionOfDone"
                    [(ngModel)]="backlogItem.definitionOfDone" #definitionOfDone="ngModel"></textarea>
        </div>
        <div class="input-field col-12 col-md-6">
          <label for="acceptanceCriteria">Acceptance Criteria</label>
          <textarea class="form-control" id="acceptanceCriteria" name="acceptanceCriteria"
                    [(ngModel)]="backlogItem.acceptanceCriteria" #acceptanceCriteria="ngModel"></textarea>
        </div>
      </div>

      <button type="submit"
              class="btn btn-primary" *ngIf="!isEditing">Add</button>
      <button type="submit"
              class="btn btn-primary" *ngIf="isEditing">Save</button>
      <button class="btn btn-danger" *ngIf="isEditing" (click)="deleteBacklogItem()">Delete</button>
    </form>
  </div>
</div>
