<div class="dashboard-project-container dashboard-grey-box container-fluid">
  <div class="row dashboard-project-title">
    <div class="col-1">
      <i class="material-icons" (click)="dashboardToggle()">list</i>
    </div>
    <div class="col-11 col-lg-7 dashboard-project-title-text" (click)="dashboardToggle()">
      <h4 class="max-1-lines" [title]="project.name | capitalize">{{project.name | capitalize}}</h4>
      <h6 class="max-2-lines" [title]="project.description | capitalize">{{project.description | capitalize}}</h6>
    </div>
    <div class="item-create-button col-12 col-lg-4 text-center text-lg-right mt-3 mt-lg-0">
      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary btn-sm" (click)="goToEditProject()"><i class="material-icons">mode_edit</i> <span>Edit</span></button>
        <button class="btn btn-outline-primary btn-sm" (click)="goToCreateSprint()" *ngIf="SessionService.isProductOwnerSignedIn()"><i class="material-icons">add</i> <span>Sprint</span></button>
        <button class="btn btn-outline-primary btn-sm" (click)="goToCreateBacklogItem()"><i class="material-icons">add</i> <span>Backlog item</span></button>
      </div>
    </div>
  </div>

  <div class="row dashboard-col-container" *ngIf="isOpen && isLoaded" [@fadeInOut]>
    <dashboard-column-cmp
      class="col-10 offset-1 col-md-5 offset-md-1 col-lg-3 offset-lg-0 dashboard-container container-white"
      [items]="dashboard.backlog" [dashboard]="dashboard" [backlogStatus]="backlogStatus.BACKLOG"
      [dropZone]="['backlog']" [targetZones]="['todo']" [title]="'Backlog'"
      (updateDashboard)="updateDashboardListener($event)" type="backlog"></dashboard-column-cmp>

    <dashboard-column-cmp
      class="col-10 offset-1 col-md-5 offset-md-1 col-lg-3 offset-lg-0 dashboard-container container-red"
      [items]="dashboard.todo" [dashboard]="dashboard" [backlogStatus]="backlogStatus.TODO"
      [dropZone]="['todo']" [targetZones]="['backlog', 'inProgress']" [title]="'Todo'"
      (updateDashboard)="updateDashboardListener($event)" type="todo"></dashboard-column-cmp>

    <dashboard-column-cmp
      class="col-10 offset-1 col-md-5 offset-md-1 col-lg-3 offset-lg-0 dashboard-container container-yellow"
      [items]="dashboard.inProgress" [dashboard]="dashboard" [backlogStatus]="backlogStatus.IN_PROGRESS"
      [dropZone]="['inProgress']" [targetZones]="['todo', 'done']" [title]="'In Progress'"
      (updateDashboard)="updateDashboardListener($event)" type="inProgress"></dashboard-column-cmp>

    <dashboard-column-cmp
      class="col-10 offset-1 col-md-5 offset-md-1 col-lg-3 offset-lg-0 dashboard-container container-green"
      [items]="dashboard.done" [dashboard]="dashboard" [backlogStatus]="backlogStatus.DONE"
      [dropZone]="['done']" [targetZones]="['inProgress']" [title]="'Done'"
      (updateDashboard)="updateDashboardListener($event)" type="done"></dashboard-column-cmp>
  </div>

  <div class="row" *ngIf="isOpen && isLoaded && dashboard.sprint" [@fadeInOut]>
    <div class="col-12 text-center">
      <span>Sprint <strong class="sprint-date">{{formatDate(dashboard.sprint.startTime)}}</strong> &rarr; <strong class="sprint-date">{{formatDate(dashboard.sprint.endTime)}}</strong></span>
    </div>
  </div>
</div>
