<div>
  <span>{{title}}</span>
  <div class="switch">
    <label>
      Change order
    </label>
    <ui-switch [(ngModel)]="orderSwitch"
               [disabled]="!(sessionService.isProductOwnerSignedIn()) || items.length == 0"
               color="#3B70A6"></ui-switch>
  </div>
</div>

<ul *ngIf="!orderSwitch" class="collection"
    dnd-droppable (onDropSuccess)="dropDnDItem($event, backlogStatus)" [dropZones]="dropZone">
  <li class="dashboard-container-item empty-item" (click)="goToCreateBacklogItem()"
      *ngIf="items.length == 0">
    Create a new item, or drag'n'drop one
  </li>
  <li class="dashboard-container-item"
      *ngFor="let item of items"
      dnd-draggable [dragEnabled]="item" [dragData]="item" [dropZones]="targetZones"
      (onDragSuccess)="removeDnDItem($event)">
    <div class="dashboard-container-item-type">{{backlogItemType[item.type].substring(0,4)}}</div>

    <div class="row">
      <div class="col-8" (click)="dashboardItemClicked(item)">
        <span>{{item.title}}</span>
      </div>
      <div class="col-4 text-right" (click)="toggleItemCheckList(item)">
        <span *ngIf="!isItemOpened(item)"><i class="material-icons">keyboard_arrow_down</i></span>
        <span *ngIf="isItemOpened(item)"><i class="material-icons">keyboard_arrow_up</i></span>
      </div>
    </div>

    <div *ngIf="isItemOpened(item)" [@fadeInOut]>
      <div *ngIf="item.checkList.length > 0">
        <span><strong>Check list</strong></span>
        <hr/>
        <div class="input-field col-12" *ngFor="let checkItem of item.checkList; let i=index">
          <input [id]="'check-item-' + i" type="checkbox" [(ngModel)]="checkItem.done"
                 (change)="updateDashboard.emit({type: 'dnd', backlogItem: item})" />
          <label [for]="'check-item-' + i">{{checkItem.content}}</label>
        </div>
      </div>

      <div *ngIf="(item.type == backlogItemType.USER_STORY) && (item.definitionOfDone.length > 0)">
        <span><strong>Definition of done</strong></span>
        <hr/>
        <div class="input-field col-12" *ngFor="let checkItem of item.definitionOfDone; let i=index">
          <input [id]="'check-item-' + i" type="checkbox" [(ngModel)]="checkItem.done"
                 (change)="updateDashboard.emit({type: 'dnd', backlogItem: item})" />
          <label [for]="'check-item-' + i">{{checkItem.content}}</label>
        </div>
      </div>

      <div *ngIf="(item.type == backlogItemType.USER_STORY) && (item.acceptanceCriteria.length > 0)">
        <span><strong>Acceptance criteria</strong></span>
        <hr/>
        <div class="input-field col-12" *ngFor="let checkItem of item.acceptanceCriteria; let i=index">
          <input [id]="'check-item-' + i" type="checkbox" [(ngModel)]="checkItem.done"
                 (change)="updateDashboard.emit({type: 'dnd', backlogItem: item})" />
          <label [for]="'check-item-' + i">{{checkItem.content}}</label>
        </div>
      </div>
    </div>

    <div class="dashboard-container-in-sprint" *ngIf="isInTheSprint(item.id)">Sprint</div>
  </li>
</ul>

<ul *ngIf="orderSwitch" class="collection"
    dnd-sortable-container [sortableData]="items">
  <li class="dashboard-container-item"
      *ngFor="let item of items; let i = index"
      [dragData]="item" (onDragSuccess)="onSortSuccess($event)"
      dnd-sortable [sortableIndex]="i">
    {{item.title}}
  </li>
</ul>
