<div style="padding: 10px">
  <a class="waves-effect blue-grey btn" routerLink="/backlog-item/create" routerLinkActive="active">Add new Backlog Item</a>
</div>
<div class="dashboard-main card-panel">
  <br/>
  <div class="dashboard-container">
    <div>
      <span>Backlog Items</span>
      <div class="switch">
        <label>
          Change order Off
          <input [(ngModel)]="orderSwitches.backlogSwitch" [disabled]="orderSwitchesDisabled.backlogSwitch" type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
    <ul *ngIf="!orderSwitches.backlogSwitch" class="collection"
        dnd-droppable (onDropSuccess)="dropToBacklog($event)" [dropZones]="['demo1']">
      <li class="collection-item dashboard-container-item"
          *ngFor="let item of backlogItems"
          dnd-draggable [dragEnabled]="item" [dragData]="item" [dropZones]="['demo2']"
          (onDragSuccess)="removeBacklogItem($event)"
          style="padding: 15px; border: 1px solid #EEEEEE">
        {{item.title}}
      </li>
    </ul>

    <ul *ngIf="orderSwitches.backlogSwitch" class="collection"
      dnd-sortable-container [sortableData]="backlogItems">
      <li class="collection-item dashboard-container-item"
        *ngFor="let item of backlogItems; let i = index"
        [dragData]="item"
        dnd-sortable [sortableIndex]="i"
        style="padding: 15px; border: 1px solid #EEEEEE">
        {{item.title}}
      </li>
    </ul>
  </div>

  <div class="dashboard-container">
    <div>
      <span>Todo</span>
      <div class="switch">
        <label>
          Change order Off
          <input [(ngModel)]="orderSwitches.todoSwitch" [disabled]="orderSwitchesDisabled.todoSwitch" type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
    <ul *ngIf="!orderSwitches.todoSwitch" class="collection"
        dnd-droppable (onDropSuccess)="dropToTodo($event)" [dropZones]="['demo2']">
      <li class="collection-item dashboard-container-item"
          *ngFor="let item of todoItems"
          dnd-draggable [dragEnabled]="item" [dragData]="item" [dropZones]="['demo1', 'demo3']"
          (onDragSuccess)="removeTodoItem($event)"
          style="padding: 15px; color: #FFF; border: 1px solid #EEEEEE; background-color: #E84B30">
        {{item.title}}
      </li>
    </ul>

    <ul *ngIf="orderSwitches.todoSwitch" class="collection"
        dnd-sortable-container [sortableData]="todoItems">
      <li class="collection-item dashboard-container-item"
          *ngFor="let item of todoItems; let i = index"
          [dragData]="item"
          dnd-sortable [sortableIndex]="i"
          style="padding: 15px; border: 1px solid #EEEEEE">
        {{item.title}}
      </li>
    </ul>
  </div>

  <div class="dashboard-container">
    <div>
      <span>In Progress</span>
      <div class="switch">
        <label>
          Change order Off
          <input [(ngModel)]="orderSwitches.inProgressSwitch" [disabled]="orderSwitchesDisabled.inProgressSwitch" type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
    <ul *ngIf="!orderSwitches.inProgressSwitch" class="collection"
        dnd-droppable (onDropSuccess)="dropToInProgress($event)" [dropZones]="['demo3']">
      <li class="collection-item dashboard-container-item"
          *ngFor='let item of inProgressItems'
          dnd-draggable [dragEnabled]="item" [dragData]="item" [dropZones]="['demo2', 'demo4']"
          (onDragSuccess)="removeInProgressItem($event)"
          style="padding: 15px; color: #FFF; border: 1px solid #EEEEEE; background-color: #FFD432">
        {{item.title}}
      </li>
    </ul>

    <ul *ngIf="orderSwitches.inProgressSwitch" class="collection"
        dnd-sortable-container [sortableData]="inProgressItems">
      <li class="collection-item dashboard-container-item"
          *ngFor="let item of inProgressItems; let i = index"
          [dragData]="item"
          dnd-sortable [sortableIndex]="i"
          style="padding: 15px; border: 1px solid #EEEEEE">
        {{item.title}}
      </li>
    </ul>
  </div>

  <div class="dashboard-container">
    <div>
      <span>Done</span>
      <div class="switch">
        <label>
          Change order Off
          <input [(ngModel)]="orderSwitches.doneSwitch" [disabled]="orderSwitchesDisabled.doneSwitch" type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
    <ul *ngIf="!orderSwitches.doneSwitch" class="collection"
        dnd-droppable (onDropSuccess)="dropToDone($event)" [dropZones]="['demo4']">
      <li class="collection-item dashboard-container-item"
          *ngFor='let item of doneItems'
          dnd-draggable [dragEnabled]="item" [dragData]="item" [dropZones]="['demo3']"
          (onDragSuccess)="removeDoneItem($event)"
          style="padding: 15px; color: #FFF; border: 1px solid #EEEEEE; background-color: #AECE38">
        {{item.title}}
      </li>
    </ul>

    <ul *ngIf="orderSwitches.doneSwitch" class="collection"
        dnd-sortable-container [sortableData]="doneItems">
      <li class="collection-item dashboard-container-item"
          *ngFor="let item of doneItems; let i = index"
          [dragData]="item"
          dnd-sortable [sortableIndex]="i"
          style="padding: 15px; border: 1px solid #EEEEEE">
        {{item.title}}
      </li>
    </ul>
  </div>
</div>
